$body-background-color: #FFF;
//$sidebar-color: #F3FFF8;
$sidebar-color: #F3FAF6;

$body-text-color: #697788;
$body-heading-color: #697788;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: #697788;
//$link-color: #353866;
//$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: #F3FAF6;
$search-background-color: #F3FAF6;
$table-background-color: #F3FAF6;
$feedback-color: darken($sidebar-color, 3%);
